@charset "UTF-8";
footer {
    background-color:#363636;
}
.footer-wrap {
    width:80%;
    margin:  0 auto;
    padding:60px 0;
    color:#fff;
    display:flex;
    justify-content: space-between;
}
.footer-wrap__left {
    display:flex;
    flex-direction: column;
}
.footer-wrap__left__logo {
    width:200px;
}
.footer-wrap__left__logo img {
    width:100%;
}
.footer-wrap__left__txt {
    font-size: 14px;
    margin-top:20px;
    font-weight: 400;
    line-height: 23px;
}
.footer-wrap__left__txt a {
    color:#fff;
    text-decoration: none;
}
.footer-wrap__right {
    width:65%;
}
.footer-wrap__right__nav {
    display:flex;
    justify-content:flex-end
}
.footer-wrap__right__nav__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:30%;
}
.footer-wrap__right__nav__head a {
    color:#fff;
    text-decoration: none;
}
.footer-wrap__right__nav__list {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 40px;
}
.footer-wrap__right__nav__list__item a {
    color:#fff;
    font-size: 12px;
    text-decoration: none;
}
.footer-copylight {
    text-align: center;
    color: #fff;
    padding-bottom:20px;
    font-size:12px;
}