@charset "UTF-8";
html {
    font-size: 16px;
  }
  
  body {
    font-family: "Noto Sans JP";
    line-height: 1.8;
    letter-spacing: 1px;
    word-break: break-all;
    color: #000000;
    background-color: #F5F5F5;
  }
.__inner {
  max-width:1000px;
  margin: 0 auto;
}