@charset "UTF-8";
  /* topsection */
.top-wrap video{
  opacity: 0;
  transform: translateX(40px);
  transition: 1.0s;
}
.top-wrap__title{
  color:#FFF;
  opacity: 0;
  transform: translateX(-40px);
  transition: 1.0s;
  transition-delay: 1.0s;
}

/* ← ここがポイント：親の .top-wrap に .show が付いたら有効にする */
.top-wrap.show video{
  opacity: 1;
  transform: translateX(0);
}
.top-wrap.show .top-wrap__title{
  opacity: 1;
  transform: translateX(0);
}

.top-wrap{
  width: 100vw;
    height: 100vh;
    position: relative;             
    overflow: hidden;               
}
.top-wrap__video{
    position: relative;           
    width: 100%;
    height: 100%;
  }
/* 透明～薄い青のグラデで軽くクールトーン */
.top-wrap__video video{
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 1.2s ease, transform 1.2s ease;

  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;

  -webkit-filter:
    brightness(1.06)
    contrast(1)
    saturate(1.15)
    sepia(0.10)
    hue-rotate(12deg);

          filter:
    brightness(1.06)
    contrast(1)
    saturate(1.15)
    sepia(0.10)
    hue-rotate(12deg);
}
/* newsセクション */
.news {
  background-color: #fff;
}
.news-wrap {
  padding:60px 0 60px 0;
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
    display: flex;
  justify-content: space-between;
  align-items: flex-start;  
}
.news-wrap__title {
  width:25%;
  font-family: "Rajdhani", sans-serif;
  line-height: 1.5;
  display: block;
}
.news-wrap__title h3 {
  font-weight: 600;
  font-style: normal;
  font-size:32px;
  color: #004FA4;
}
.news-wrap__title p {
  font-size:18px;
  font-weight: bold;
  border-left:5px solid #004FA4; /*線の設定*/
  padding:2px 5px;
  line-height: 0.8;
}
.news-wrap__body {
  width:70%;
}
.news-wrap__body__list {
  width:100%;
}
.news-wrap__body__list__item {
  display:flex;
  width:100%;
  border-bottom:1px solid #D3D3D3; /*線の設定*/
}
.news-wrap__body__list__item:last-child{
  padding-top:3%;
}
.news-wrap__body__list__item__date {
  width:20%;
  padding-bottom:3%;
  border-bottom:1px solid #004FA4;
  font-weight:400;
  color: #004FA4;
  text-align: center;
  padding-right:20px;
}
.news-wrap__body__list__item__txt {
  width:80%;
  padding-bottom:3%;
  padding: 0 20px;
  font-weight: 500;
}
.news-wrap__body__btn {
  display: flex;
  justify-content:flex-end;
  padding:40px 0 0 0;
}
.news-wrap__body__btn a {
  font-size:14px;
  position: relative;
  text-align: left;
  padding: 1.5% 5% 1.5% 3.2%;
  color:#004FA4;
  text-decoration: none;
  border: 1px solid#D3D3D3;
}
.news-wrap__body__btn a::after{
    content: '';
    display: inline-block;
    border-style: solid;
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent #004FA4;
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    top: 52%;
    right:14px;
    transform: translateY(-50%);
}
/* aboutセクション */
.about-wrap {
  margin: 60px auto;
}
.about-wrap__title {
  font-family: "Rajdhani", sans-serif;
  line-height: 1.5;
  display: block;
}
.about-wrap__title h3 {
  font-weight: 600;
  font-style: normal;
  font-size:32px;
  color: #004FA4;
}
.about-wrap__title p {
  font-size:18px;
  font-weight: bold;
  border-left:5px solid #004FA4; /*線の設定*/
  padding:2px 5px;
  line-height: 0.8;
}
.about-wrap__body {
  display:flex;
  margin: 40px auto;
  justify-content: center;
  gap:50px;
}
.about-wrap__body__left{
width:55%;
 display:flex;
  flex-flow: column;
  justify-content:space-between;
}
.about-wrap__body__left__txt {
  width:100%;
  line-height: 38px;
}
.about-wrap__body__left__btn {
  display:flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-bottom: 1px solid #000000;
}
.about-wrap__body__left__btn a {
  font-size:14px;
  position: relative;
  text-align: left;
  padding: 2% 3.5% 2% 2%;
  color:#004FA4;
  text-decoration: none;
}
.about-wrap__body__left__btn a::after{
    content: '';
    display: inline-block;
    border-style: solid;
    border-width: 5px 0 5px 8px;
    border-color: transparent transparent transparent #004FA4;
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    top: 52%;
    right:0;
    transform: translateY(-50%);
}
.about-wrap__body__right {
  width:45%;
}
.about-wrap__body__right img{
  -o-object-fit:cover;
     object-fit:cover;
  -o-object-position:75%;
     object-position:75%;
  width:100%;
  aspect-ratio: 1/1;
  box-shadow: 20px 20px 0px rgba(133, 133, 133, 0.6);
}
/*serviceセクション*/
.service{
  background-color: #00244A;
}
.service-wrap {
  padding: 60px 0 80px 0;
}
.service-wrap__top {
  margin: 0 auto 40px auto;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;  
}
.service-wrap__top__title {
  width:35%;
  font-family: "Rajdhani", sans-serif;
  line-height: 1.5;
  display: block;
}
.service-wrap__top__title h3 {
  font-weight: 600;
  font-style: normal;
  font-size:32px;
  color: #ffffff;
}
.service-wrap__top__title p {
  color:#fff;
  font-size:16px;
  font-weight: bold;
  border-left:5px solid #ffffff; /*線の設定*/
  padding:5px 5px;
  line-height: 0.8;
}
.service-wrap__top__txt {
  width:65%;
}
.service-wrap__top__txt p {
  font-weight:500;
  color:#fff;
  font-size:20px;
}
.service-wrap__under__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3列均等 */
  grid-template-rows: repeat(2, 1fr);    /* 2行均等 */
  width: 100%;
  height: 100%;
  gap: 1px;
  background-color: #D3D3D3;
}
.service-wrap__under__grid__item {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height:340px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  transition: -webkit-filter 0.1s ease-in;
  transition: -webkit-filter 0.1s ease-in;
  transition: filter 0.1s ease-in;
  transition: filter 0.1s ease-in, -webkit-filter 0.1s ease-in;
  transition: filter 0.4s ease-in, -webkit-filter 0.1s ease-in;
}
.service-wrap__under__grid__item:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);

  
}
/*事業内容写真!*/
.Chimney_Asbestos_Removal {
  background: center / cover no-repeat url(../img/アスベストback.png);
}
.Asbestos_Wall_Coating_Removal {
  background: right / cover no-repeat url(../img/wall.jpg);
}
.Sprayed_Asbestos_Abatement_System {
  background: 32% 20% / cover no-repeat url(../img/hukitsuke.JPG);
}
.Dioxin_Decontamination {
  background: center / cover no-repeat url(../img/daiokishon.JPG);
}
.Ultra-High-Pressure_Water_Jetting {
  background: right / cover no-repeat url(../img/jet.svg);
}
.Corrosion_Waterproofing_Solutions {
  background: center / cover no-repeat url(../img/updownback.png);
}
/**/

.service-wrap__under__grid__item{
  padding:50px 30px 20px 30px;
}
.service-wrap__under__grid__item__head h5 {
  font-size:20px;
  font-weight: bold;
  color:#fff;
  line-height: 1.4;
  text-shadow: 2px 2px 2px #2f2f2f;
}
.service-wrap__under__grid__item__head h5 small {
  font-size:12px;
  font-weight: 500;
  color:#ffffff;
}
.service-wrap__under__grid__item__btn {
  text-align: end;
  border-bottom:solid 1px#fff;
  padding-bottom:8px;
}
.service-wrap__under__grid__item__btn a {
  position: relative;
  padding: 2% 7% 2% 2%;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px 2px #2f2f2f;
}
.service-wrap__under__grid__item__btn a::after{
  content: '';
  display: inline-block;
  border-style: solid;
  border-width: 5px 0 5px 8px;
  border-color: transparent transparent transparent #ffffff;
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  top: 52%;
  right:0;
  transform: translateY(-50%);
}
/*contactセクション*/
.contact-wrap {
  padding:60px 0 60px 0;
}
.contact-wrap__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-wrap__top__title {
  width:25%;
  font-family: "Rajdhani", sans-serif;
  line-height: 1.5;
  display: block;
}
.contact-wrap__top__title h3 {
  font-weight: 600;
  font-style: normal;
  font-size:32px;
  color: #004FA4;
}
.contact-wrap__top__title p {
  font-size:18px;
  font-weight: bold;
  border-left:5px solid #004FA4; /*線の設定*/
  padding:2px 5px;
  line-height: 0.8;
}
.contact-wrap__top__txt {
  font-size: 20px;
  font-weight: 500;
}
.contact-wrap__under {
  display: flex;
  margin:40px auto;
  justify-content: space-between;
}
.contact-wrap__under__mail {
  width:45%;
  padding:55px 10px;
  border:#D3D3D3 solid 1px;
}
.contact-wrap__under__mail p{
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
.contact-wrap__under__tel {
  width:45%;
  padding:55px 10px;
  border:#D3D3D3 solid 1px;
}
.contact-wrap__under__mail__btn {
  margin-top:20px;
  text-align: center;
}
.contact-wrap__under__mail__btn a {
  text-decoration: none;
  color:#fff;
  background-color: #0368B8;
  padding:15px 30px;
  transition: transform .06s 
  ease, background-color .15s 
  ease, border-color .15s 
  ease, box-shadow .15s 
  ease;
}
.contact-wrap__under__mail__btn a:hover {
  background-color: #05518f;
}
.contact-wrap__under__tel__txt{
  font-weight: 500;
  color:#2A2A2A;
  font-size:20px;
}
.contact-wrap__under__tel a {
  font-family: "Rajdhani", sans-serif;
  font-size: 32px;
  color:#004FA4;
  font-weight: 600;
}
.contact-wrap__under__tel__time{
  font-weight: 500;
  color:#2A2A2A;
  font-size:16px;
}
.fa-contact {
  font-size: 20px;
  font-family: "Font Awesome 6 Free" !important;
  font-weight: 900 !important;
}
.fa-envelope::before {
  content: "\f0e0" !important;  /* 封筒アイコンのコードポイント */
}
.contact-wrap__under__tel {
  text-align: center;
}
.banar {
  border-color: solid 1px #fff;
}
.banar-wrap {
  max-width:850px;
  margin: 40px auto;
}
.banar-wrap__body {
  display:flex;
  gap:50px;
}
.banar-wrap__body a {
  width:250px;
}
.banar-wrap__body a:hover img {
  transform: scale(1.05);
}

.banar-wrap__body a img {
  height:auto;
  transition: transform .4s ease;
  box-shadow: #898989 1px 4px 6px;
}
.top-wrap__video {
  position: relative;
}

.sound {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

.sound .sound-icon {
  font-size: 18px;
}
.top-wrap__video__logo {
  position: absolute;
  top: 4%;
  right :3%;
  z-index: 3;
  height:auto;
  width:250px;
}
.top-wrap__video__logo img{
  width:100%;
  height:auto;
  background-color: #fff;
  padding:10px;
  box-shadow: 0px 4px 6px #5f5f5f;
}
@media (max-width:1280px){
  .top-wrap{
    width: 100vw;
      height: auto;
      aspect-ratio: 16 / 9;
      position: relative;             
      overflow: hidden;

  }
}
@media (max-width:1100px){
  .top-wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
}
  .news-wrap__title {
  width:20%;
  line-height: 1.5;
  display: block;
}
.news-wrap__body {
  width:77%;
}
  .about-wrap__body {
    gap: 30px;
}
.about-wrap__body__left {
    width: 45%;
}
.about-wrap__body__left__txt {
    line-height: 32px;
}
.about-wrap__body__right {
    width: 50%;
}
  .service-wrap__under__grid__item {
    padding: 40px 20px 20px 20px;
}
.service-wrap__under__grid__item {
    height: 280px;
}
.service-wrap__under__grid__item__head h5 {
    font-size: 16px;
    line-height: 1.5;
}
.service-wrap__under__grid__item__head h5 small {
    font-size: 10px;
}
  .contact-wrap__top__title {
    width: 20%;
}
  .contact-wrap__top__txt {
    font-size: 18px;
    font-weight: 500;
}
.contact-wrap__under__mail {
    padding: 40px 5px;
}
.contact-wrap__under__mail p {
    font-size: 18px;
}
.contact-wrap__under__tel {
    padding: 40px 5px;
}
.contact-wrap__under__tel__txt {
    font-size: 18px;
}
.contact-wrap__under__tel a {
    font-size: 28px;
}
.contact-wrap__under__tel__time {
    font-size: 14px;
}
.banar-wrap__body a {
  width:200px;
}
.banar-wrap__body {
  display:flex;
}
.banar-wrap {
  max-width:700px;
  margin: 20px auto;
}
.banar-wrap__body a img {
  width:100%;
  height:auto;
}
.top-wrap__video__logo {
  position: absolute;
  top: 4%;
  right :4%;
  z-index: 3;
  height:auto;
  width:200px;
}
.top-wrap__video__logo img{
  width:100%;
  height:auto;
  background-color: #fff;
  padding:5px;
  box-shadow: 0px 4px 6px #5f5f5f;
}
}
@media (max-width:800px){
  .news-wrap {
    flex-direction: column;
  }
  .news-wrap__body {
        width: 100%;
        margin:40px auto;
    }
    .news-wrap__body__list__item__date {
    width: 30%;
}
.about-wrap__body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;    
}
    .about-wrap__body__right {
        width: 80%;
    }
    .about-wrap__body__right img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 75%;
       object-position: 75%;
    width: 100%;
    aspect-ratio: auto;
    box-shadow: 20px 20px 0px rgba(133, 133, 133, 0.6);
}
.about-wrap__body__left {
  width: 100%;
}
.service-wrap__top {
    margin: 0 auto 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
.service-wrap__top__txt {
    width: 100%;
    margin-top: 20px;
}
.service-wrap__top__txt p {
    font-weight: 400;
    font-size: 18px;
}
.service-wrap__top__title{
    width: 100%;
}
.service-wrap__under__grid__item {
  padding:20px 10px 10px 10px;
  height: auto;
  aspect-ratio: 5 / 7;
    }
.contact-wrap {
    padding: 40px 0 40px 0;
}
.contact-wrap__top {
    flex-direction: column;
    align-items: flex-start;
}
.contact-wrap__top__title {
    width: 100%;
}
.contact-wrap__top__txt {
    margin-top: 20px;
    font-weight: 400;
    }
.contact-wrap__under__mail p {
        font-size: 16px;
    }
.contact-wrap__under__mail__btn{
    font-size: 14px;
}
.contact-wrap__under__mail__btn a {
    padding: 10px 20px;
}
.contact-wrap__under__mail {
        padding: 30px 1%;
        line-height: 1.4;
    }
.contact-wrap__under__tel {
        padding: 30px 1%;
        line-height: 1.5;
    }
    .contact-wrap__under__tel__txt {
        font-size: 16px;
    }
      .contact-wrap__under__tel__time {
        font-size: 12px;
    }
        .contact-wrap__under__tel a {
        font-size: 24px;
    }
    .top-wrap__video__logo {
      position: absolute;
      top: 4%;
      right :4%;
      z-index: 3;
      height:auto;
      width:150px;
    }
}
@media (max-width:540px){
  
  .top-wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
}
  .top-wrap__title h1{
    font-size:28px;
  }
  .top-wrap__title h1 small{
    font-size:14px;
  }
  .top-wrap__title {
    bottom: 4%;
}
  .news-wrap {
    padding: 40px 0 40px 0;
}
.news-wrap__title {
  width: 100%;
}
.news-wrap__title h3 {
  font-size: 28px;
}
.news-wrap__title p {
  font-size: 16px;
}
  .news-wrap__body__list__item {
    font-size:14px;
  }
  .news-wrap__body__btn a {
      padding: 3% 8% 3% 5%;
  }
  .news-wrap__body__list__item__date {
    width: 40%;
    padding-right: 5px;
}
.news-wrap__body__list__item__txt {
  width: 60%;
  padding: 0 5px;
  font-weight:400;
}
.news-wrap__body__btn a::after {
  top: 50%;
  right: 8px;
}
.about-wrap__body__left__txt {
    font-size: 14px;
    line-height: 28px;
}
.about-wrap__title h3 {
  font-size: 28px;
}
.service-wrap__top__title h3 {
  font-size: 28px;
}
.about-wrap__title p {
  font-size: 16px;
}
.contact-wrap__top__title h3 {
  font-size: 28px;
}
.contact-wrap__top__title p {
  font-size: 16px;
}
.service-wrap__top__txt p {
  font-weight: 400;
  font-size: 14px;
}
.service-wrap__under__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.service-wrap__under__grid__item__head h5 small {
  font-size:clamp(0.375rem, -0.3393rem + 2.8571vw, 0.625rem);
}
.service-wrap__under__grid__item__head h5 {
  font-size:clamp(0.75rem, 0.0357rem + 2.8571vw, 1rem);
  line-height: 1.5;
}
.contact-wrap__top__txt {
    font-size: 14px;  
}
.contact-wrap__under {
    flex-direction: column;
    align-items: center;
    gap: 20px;
      margin: 20px auto 0 auto;
}
.contact-wrap__under__mail {
  width: 90%;
}
.contact-wrap__under__tel {
  width: 90%;
}
.banar-wrap {
  width: 80%;
  margin: 0 auto 20px auto;
}
.banar-wrap__body{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  gap:20px;
}
.banar-wrap__body a {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.top-wrap__video__logo {
  position: absolute;
  top: 4%;
  right :5%;
  z-index: 3;
  height:auto;
  width:100px;
}
}
/* 背景動画コンテナ */
.top-wrap__video {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}