@charset "UTF-8";
footer {
    background-color:#363636;
}
.footer-wrap {
    width:80%;
    margin:  0 auto;
    padding:60px 0;
    color:#fff;
    display:flex;
    justify-content: space-between;
}
.footer-wrap__left {
    display:flex;
    flex-direction: column;
}
.footer-wrap__left__logo {
    width:200px;
}
.footer-wrap__left__logo img {
    width:100%;
}
.footer-wrap__left__txt {
    font-size: 14px;
    margin-top:20px;
    font-weight: 400;
    line-height: 23px;
}
.footer-wrap__left__txt a {
    color:#fff;
    text-decoration: none;
}
.footer-wrap__right {
    width:65%;
}
.footer-wrap__right__nav {
    display:flex;
    justify-content:flex-end;
    width:100%;
}
.footer-wrap__right__nav__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:30%;
}
.footer-wrap__right__nav__head a {
    color:#fff;
    text-decoration: none;
}
.footer-wrap__right__nav__head a:hover {
    opacity: 0.8;
}
.footer-wrap__right__nav__list {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 40px;
}
.footer-wrap__right__nav__list__item a {
    color:#fff;
    font-size: 12px;
    text-decoration: none;
}
.footer-copylight {
    text-align: center;
    color: #fff;
    padding-bottom:20px;
    font-size:12px;
}
@media (max-width:1180px){
    .footer-wrap {
    width: 90%;
}
    .footer-wrap__right__nav__left {
    width: 35%;
}
.footer-wrap__left {
    width:50%;
}
}
@media (max-width:1000px){
.footer-wrap__right__nav__head a {
    font-size: 14px;
}
.footer-wrap__left__txt {
    font-size: 12px;
}
    .footer-wrap {
    width: 95%;
}
.footer-wrap__left {
        width: 45%;
}
}
@media (max-width:767px){
    .footer-wrap {
        width: 85%;
    flex-direction:column;
    padding: 20px 0;

    }
    .footer-wrap__right__nav__left {
        width: 100%;
    }
    .footer-wrap__left {
        width:100%;
        flex-direction: column;
    }
    .footer-wrap__left__logo {
        width:250px;
        margin: 0 auto;
    }
    .footer-wrap__left__txt {
        margin-top:15px;
        font-size:16px;
    }
    .footer-wrap__right {
    width: 100%;
}
.footer-wrap__right__nav {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top:40px;
}
.footer-wrap__right__nav__list {
    display: flex;
    margin:0;
}
.footer-wrap__right__nav__right{
    width:100%;
}
    .footer-wrap__right__nav__head a {
        font-size: 16px;
    }
    .footer-wrap__right__nav__head {
        margin-bottom:20px;
    }
}
@media (max-width:540px){
    .footer-wrap__left__logo {
        width: 200px;
        margin: 0 auto;
    }
    .footer-wrap {
        width: 95%;
    }
    .footer-wrap__left__txt {
        font-size: 12px;
    }
    .footer-wrap__right__nav__head {
        margin-bottom: 10px;
    }
    .footer-wrap__right__nav__head a {
        font-size: 14px;
    }
    .footer-wrap__right__nav__list__item a {
        font-size: 10px;
    }
    .footer-copylight {
        padding-bottom: 10px;
        font-size: 8px;
    }
    .footer-wrap__right__nav {
        flex-direction: column;
        margin-top: 20px;;
    }
    .footer-wrap__right__nav__right{
        margin-bottom: 0px;
    }
    .footer-wrap__right__nav__list {
        margin-left:20px;
    }
}