@charset "UTF-8";
header {
    background-color: #00244A;
}
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-wrap__logo {
    width:14%;
    display: flex;
    align-items: center;
    padding-left:2.5%;
}
.header-wrap__logo img {
    width:180px;
}
.header-wrap__nav__list {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
}
.header-wrap__nav {
    width:75%;
}
.header-wrap__nav__list__item {
    text-align: center;
    font-size: 1rem;
    padding: 0 2%;
    font-weight: 500;
}
.header-wrap__nav__list__item a {
    color: #fff;
    text-decoration: none;
}
.header-wrap__nav__list__item__con {
    width:10%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding:  10px 0;
}
.header-wrap__nav__list__item__con a {
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    color: #00244A;
    text-decoration: none;
    flex-direction:column;
    letter-spacing: 0.2px;
  }
  .fa-solid {
    font-size: 36px;
    font-family: "Font Awesome 6 Free" !important;
    font-weight: 900 !important;
  }
  .fa-envelope::before {
    content: "\f0e0" !important;  /* 封筒アイコンのコードポイント */
  }